/* Write your global styles here, in PostCSS syntax */
@tailwind base;

body {
	padding: 0rem;
	height: 100%;
	width: 100%;
	background-position: center;
	background-image: url(https://4kwallpapers.com/images/wallpapers/color-burst-colorful-explosion-cgi-cosmic-black-background-3840x2160-6652.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	line-height: 1;
	text-transform: capitalize;
}

@tailwind components;

@tailwind utilities;
